In [23]:
import pandas as pd
import os

In [24]:
file_to_load="Resources/missing_grades.csv"
missing_grade_df=pd.read_csv(file_to_load)
missing_grade_df

   Student ID       student_name gender grade  reading_score  math_score
0           0       Paul Bradley      M   9th           66.0        79.0
1           1       Victor Smith      M  12th           94.0        61.0
2           2    Kevin Rodriguez      M  12th            NaN        60.0
3           3  Dr. Richard Scott      M  12th           67.0        58.0
4           4         Bonnie Ray      F   9th           97.0        84.0
5           5      Bryan Miranda      M   9th           94.0         NaN
6           6      Sheena Carter      F  11th           82.0        80.0
7           7       Nicole Baker      F  12th           96.0        69.0

In [25]:
def say_hello():
    print("hello")

In [26]:
say_hello()

hello

In [27]:
def say_something(something):
    print(something)

In [28]:
say_something("bye")

bye

In [29]:
my_grades = ['B', 'C', 'B' , 'D']
my_grades=pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [43]:
my_new_grades=my_grades.map({'B': 'A','C': 'B','D': 'C'})
my_new_grades

0    A
1    B
2    A
3    C
dtype: object

In [46]:
my_grades = [92.34, 84.56, 86.78, 98.32]
for grades in my_grades:
    print("{:.0f}".format(grades))

92
85
87
98

In [60]:
my_grades = pd.Series([92.34, 84.56, 86.78, 78.32])
my_grades.map("{:.0f}".format(grades))

TypeError: unsupported format string passed to Series.__format__